.App-header {
  background-color: #574844;
  color: #ceebe2;
  height: 100vh;
  padding-top: 15px;
  padding-left: 20px;
  overflow: scroll;
  font-family: 'Catamaran', sans-serif;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.leaflet-container {
  height: 100vh;
}

.menu{
  background-color: #574844;
  color: #ceebe2;
}

.container {
  width: 100%;
  max-width: 100%;
}

.col-sm-8, .col-sm-4 {
  padding: 0;
  margin: 0;
  height: 100vh;
}

li {
  list-style-type: none;
  cursor: pointer;
}

h1 {
  font-size: 2em !important;
  color: #574844;
  background-color: #ceebe2;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: -15px;
  margin-left: -20px;
  font-weight: 600;
}

.display-none {
  display: none;
}

h5 {
  cursor: pointer;
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #ceebe2;
  width: 90%;
  font-weight: 400;
  font-size: 1.5rem !important;
}

.title {
  display: flex;
}

#iconTitle {
  margin-right: 10px;
}

.sousCatName {
  color: #f9a27f;
  font-size: 19px;
}