.App {
  text-align: center;
}

.App-header {
  background-color: #574844;
  color: #ceebe2;
  height: 100vh;
  padding-top: 15px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.leaflet-container {
  height: 100vh;
}

.menu{
  background-color: #574844;
  color: #ceebe2;
}

.container {
  width: 100%;
  max-width: 100%;
}

.col-sm-9, .col-sm-3 {
  padding: 0;
  margin: 0;
  height: 100vh;
}
